{% extends "base.html" %}
{% block meta %}
	<title>{{ header.title }}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
{% endblock %}
{% block content %}
	<main>
		<article>
			<div class="wrapper">
			      <h2>{{ header.headline }}</h2>
			      <p>{{ header.introduction }}</p>
			      <p><a href="{{ url_for('homepage') }}">Click Here</a> to go to the Home Page</p>
			      <p><small>{{requestdata}} - {{visitor}}</small></p>
			</div>
		</article>
	</main>	
{% endblock %}
