{% extends "base.html" %}
{% block meta %}
	<title>Page Title - Brand</title>
	<meta name="keywords" content="Page Keywords" />
	<meta name="description" content="Page Description" />
	<link rel="canonical" href="Page URL" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit" content="7 days" />
{% endblock %}
{% block content %}
<main>
	<article>
		<div class="wrapper">
			<div class="grid-container">
				<div>
					<h2>Page Headline</h2>
          <p>Page Introduction</p>
				</div>
				<div>
					<h3>Resources</h3>
        </div>
			</div>
		</div>
	</article>
</main>	
{% endblock %}
